*{
    box-sizing: border-box;
    margin: auto;
    padding: 0;
}

.container_assh_color{
    background-color: rgb(248, 248, 248);
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: fit-content;
    height: fit-content;
    margin-top: 5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}




img{
    border-radius: 5000px;
}

.seperation_div{
display: flex;
justify-content: center;
height: fit-content;
width: fit-content;
gap: 2rem;
}



/*Fisrt section styles*/

.first_section{
    padding: 50px;
    width: fit-content;
    height: fit-content;

}



.second_section{
    background-color: rgb(255, 255, 255);
    padding: 50px 30px;
    width: fit-content;
    height: fit-content;
    
}

h2{
    margin: 15px 0;
}

label{
    font-weight: bold;
    
}

input{
    padding: 5px;
    width: fit-content;
    margin-bottom: 1.5rem;
    margin-top: 5px;

}
input:hover{
    border: 2px solid rgb(73, 247, 192);
}


/*Second section styles*/


.input_1st_flex{
    display: flex;
}

.input_2nd_flex{
    display: flex;
}

.input_3rd_flex{
    display: flex;
}

.select_1st{
padding: 5px;
    padding-right: 5.5rem;
    margin-bottom: 1.5rem;
}

.activity_input{
    padding: 5px;
    padding-right: 20rem;
    margin-bottom: 1rem;
    margin-top: 10px;
    padding-left: 1rem;
}

#password{
    padding-right: 15rem;
    padding-left: 1rem;
}





button{
    padding: 5px;
    padding-right: 188px;
    padding-left: 188px;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
background-color: rgb(57, 213, 164);
color: rgb(253, 245, 245);

}

button:hover{
    color: rgb(14, 85, 2);
    
}


.indent_sec{
    
    display: grid;
    justify-content: center;
}

footer{
    margin-top: 10px;
}

a{
    color: rgb(73, 247, 192);
}

a:hover{
    color: green;
    
}

a:active{
    color: red;
}




/*@Media-----------------------------*/

@media (max-width: 500px) {

    .seperation_div{
        display: grid;
        justify-content: center;
        height: fit-content;
        width: fit-content;
        gap: 2rem;
        }


.input_1st_flex, .input_2nd_flex, .input_3rd_flex{
    display: grid;
}


input{
    width: fit-content;
    padding: 5px;

}

select{
    padding: 5px;
    padding-right: 20rem;
    margin-bottom: 1rem;
    margin-top: 10px;
    padding-left: 1rem;
}

.select_1st{
    padding-right: 20.7rem;
    
}


#d_o_b{
    padding-right: 14.7rem; 
}

#weight{
    padding-right: 15.7rem;
    
}

#height{
    padding-right: 15.7rem;
}

#lastname{
    padding-right: 15.6rem;  
}

#firstname{
    padding-right: 15.6rem;  
}


button:hover{
    color: rgb(14, 85, 2);

}

}

